<div class="center-container">
    <div>
        <label for="new-item">New item:</label>
         <!-- reference variable is newItemInput get the value the user entered. -->
        <input id="new-item" #newItemInput>
        <!-- 
            addNewItem() method is called with the value of the newItemInput , 
        When the button is clicked, the addNewItem() method emits an event using newItemEvent.emit(value) -->
        <button (click)="addNewItem(newItemInput.value)">Add to parent's list</button>
    </div>
</div>