<div class="name">{{name}}</div>
<h1 class="marvel-title">{{title}}</h1>
<div class="container">
  <div class="ironman">{{Ironman}}</div>
  <div class="blessie">{{Blessie}}</div>
</div>
<app-heroes-lists></app-heroes-lists>
<!-- 
The event binding, (newItemEvent)='addItem($event)', 
connects the event in the child, newItemEvent, to the method in the parent, addItem(). -->
<!-- <app-item-output (newItemEvent)="addItem($event)"></app-item-output>

<div class="center-container">
<ul>
  <li *ngFor="let item of items">{{ item }}</li>
</ul>
</div> -->