<div class="center-container">
  <h2>My Heroes</h2>
  <ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
      <button type="button">
        <span class="badge">{{hero.id}}</span>
        <span class="name">{{hero.name}}</span>
      </button>
    </li>
  </ul>
</div>



<div class="center-container">
    <h2>Hero Details</h2>
    <div *ngIf="selectedHero">
      <span class="bold-label red-label">id:</span> {{selectedHero.id}} |
      <span class="bold-label red-label">Hero name: </span>
      <input [(ngModel)]="selectedHero.name" placeholder="names">
    </div>
    

      
    <!-- <div><span class="bold-label">id:</span> {{hero.id}} | <span class="bold-label">name:</span> {{hero.name}}</div> -->
  </div>
  
