.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bold-label {
    font-weight: bold;
  }
  
  .red-label {
    color: #C3002F;
  }


  
  
  span{
    font-weight: bold;
    text-align: center;
}

label{
    font-weight: bold;
    text-align: center;
}

h2{
    text-align: center;
    text-align: center;
}

div{
    margin-bottom: 15px;
    text-align: center;
}

.span-id {
    color: red;
}

.span-name {
    color: red;
}

ul {
    list-style: none;
}

.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.heroes li {
  display: flex;
}

.heroes button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  height: 1.8em;
}

.heroes button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}


.heroes button.selected:hover {
  background-color: #505050;
  color: white;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.5em 0.7em 0 0.5em;
  background-color: #405061;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.heroes .name {
  align-self: center;
}
  
  
  
  
  
  